.about-page-title {
  margin-bottom: 50px;
  color: var(--accent);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 30px;
}

.about span {
  color: var(--text-secondary);
  text-align: justify;
  font-size: 16px;
}

.about span a:hover {
  text-decoration: underline;
  color: var(--accent);
}

@media (max-width:1000px) {
    .about{
        padding-right: 0;
    }
}

@media (max-width:400px) {
    .about span{
        text-align: left;
    }
}