.essays {
  display: flex;
  flex-direction: column;
}

.essays-title {
  margin-bottom: 50px;
  color: var(--accent);
}

.essays-loading,
.essays-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  gap: 30px;
}

.essay-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
  border-bottom: 1px solid var(--border);
  padding: 30px 0;
}

.essay-card:first-child {
  padding-top: 0;
}

.essay-card:last-child {
  border-bottom: none;
}

.essay-eyebrow {
  color: var(--accent);
}

.essay-title {
  font-size: 1.3rem;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.essay-excerpt {
  font-size: var(--fs-excerpt);
  color: var(--text-secondary);
  text-align: justify;
  text-align-last: left;
  hyphens: auto;
}

.essay-details {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--accent);
}

.essay-read-mins,
.essay-card-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}
