.essay {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.essay-category {
  color: var(--accent);
  margin-top: 30px;
}

.author-profile-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.follow-author-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  color: var(--text-primary);
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: transparent;
  transition: all 0.2s ease;
}

.follow-author-btn:hover {
  background-color: var(--bg-card);
  color: var(--accent2);
  border-color: var(--accent2);
}

.author-profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-profile-img {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: var(--accent);
  color: var(--bg-primary);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.essay-author-img {
  border-radius: 50%;
}

.essay-micro-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.essay-micro-details span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.author-name {
  font-size: 14px;
  font-weight: 600;
}

.essay-body {
  text-align: justify;
  text-align-last: left;
  hyphens: auto;
  font-size: var(--fs-excerpt);
  color: var(--text-primary);
  margin-bottom: 10px;
}

.essay-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.essay-tags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--bg-card);
  font-size: 11px;
}

.essay-intractions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-top: 10px;
  font-size: 15px;
  border-top: 1px solid var(--border);
}

.like-btn,
.bookmark-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: transparent;
  border: none;
  color: var(--text-secondary);
  transition: all 0.2s ease;
}

.like-count {
  font-size: 12px;
}

.essay-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
