.nav {
  display: flex;
  background-color: transparent;
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px 20px;
  user-select: none;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
}

.quick-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.quick-link {
  transition: all 0.2s ease;
  cursor: pointer;
  color: var(--text-secondary);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.quick-link.active {
  color: var(--accent);
  border-color: var(--accent);
}

.user-icon,
.menu-icon,
.theme-icon {
  transition: all 0.2s ease;
  color: var(--text-secondary);
}

.user-icon:hover,
.menu-icon:hover,
.theme-icon:hover {
  color: var(--text-primary);
}

.menu-icon {
  display: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.794);
  z-index: 4;
  transition: all 0.2s ease;
  display: none;
}

.overlay.active {
  display: block;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--bg-primary);
  border-left: 1px solid var(--border);
  position: fixed;
  padding: 25px 15px;
  top: 0;
  bottom: 0;
  right: 0;
  user-select: none;
  width: 70%;
  transform: translateX(105%);
  transition: all 0.3s ease-in-out;
  z-index: 5;
  padding-bottom: 0;
}

.mobile-menu.active {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.close-menu-btn {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.menu-links {
  display: flex;
  flex-direction: column;
}

.menu-link {
  padding: 20px 15px;
  border-bottom: 1px solid var(--border);
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  font-size: 14px;
  gap: 15px;
  transition: all 0.2s ease;
}

.menu-link.active {
  background-color: var(--bg-card);
}

.menu-link:last-child {
  border-top: none;
}

.menu-link:hover {
  color: var(--text-primary);
}

.menu-profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--border);
  padding: 20px 0;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 12px;
  border-radius: 50%;
  background-color: var(--text-secondary);
  color: #fff;
  font-weight: 600;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  overflow-x: auto;
  text-transform: capitalize;
}

.userRole {
  font-size: 12px;
  text-transform: capitalize;
  color: var(--text-secondary);
}

.header-user-profile {
  position: relative;
}

.header-user-profile-card {
  position: absolute;
  right: 0;
  padding: 10px;
  display: none;
  top: 30px;
  width: 250px;
  background-color: var(--bg-primary);
  border: 1px solid var(--border);
  border-radius: 5px;
}

.header-user-profile-username,
.header-user-profile-role {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

.header-user-profile:hover .header-user-profile-card {
  display: block;
}

.header-user-profile-username {
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
}

.header-user-profile-role {
  padding-top: 10px;
}

@media (max-width: 767px) {
  .quick-links {
    display: none;
  }

  .header-user-profile {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
