.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-left: 1px solid var(--border);
  padding: 0 20px;
  height: 100%;
}

.sidebar-title {
  color: var(--accent);
}

.sidebar-about,
.categories,
.recent-posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-content,
.categories-content,
.recent-posts-content {
  color: var(--text-secondary);
  font-size: 14px;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-content span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.about-title,
.categories-title,
.recent-posts-title {
  font-size: 12px;
}

.category,
.recent-post {
  display: flex;
  align-items: center;
  gap: 5px;
}

.recent-post {
  cursor: pointer;
}

.category-circle,
.recent-post-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--accent2);
}

@media (max-width: 1000px) {
  .sidebar {
    border-left: none;
    border-top: 2px solid #8a887e;
    padding: 20px 0;
    margin-top: 50px;
  }

  .sidebar-title {
    display: none;
  }
}
